.C-login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.C-login > h1 {
  color: #FFF;
  font-size: 35px;
  font-weight: 900;
}

.C-login_logo_span {
  background: linear-gradient(90deg, #ff8c00, #c9893c);
  background-clip: text;
  color: transparent;
}