* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#232630, #050507);
  max-width: 768px;
  margin: 0 auto;
  padding: 10px;
}